* {
    cursor: url(___FREIHEIT___.png) 54 15, auto;
}

body {
    background-image: url("hintergrund_paprika.js");
    background-color: red;
}
p {
    background-color: orange;
    color: green;
}



li a {
    display: block;
    color: red;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(100,20,180,0.6);
    color: powderblue;
}
